body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #fceabb, #f8b500);
}

h1, h3 {
    font-family: 'Lobster', cursive;
}

h1 {
    margin-bottom: 30px;
}

div {
    margin-bottom: 20px;
}

button {
    margin: 10px;
}

.menu-category {
    margin-top: 200px;
}

.btn-outline-primary {
    width: 200px;
    height: 60px;
    font-size: 18px;
    color: #6f4e37;
    border: 2px solid #6f4e37;
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: #6f4e37;
    color: white;
}

.btn-primary[data-bs-toggle="offcanvas"] {
    font-size: 16px;
    color: #6f4e37;
    border: 2px solid #6f4e37;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px 20px;
}

.btn-primary[data-bs-toggle="offcanvas"]:hover {
    background-color: #6f4e37;
    color: white;
}

.offcanvas {
    background: linear-gradient(to right, #fceabb, #f8b500);
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.offcanvas-title {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #6f4e37;
}

.offcanvas .btn-primary {
    font-size: 16px;
    color: #6f4e37;
    border: 2px solid #6f4e37;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 20px;
}

.offcanvas .btn-primary:hover {
    background-color: #6f4e37;
    color: white;
}

.offcanvas .btn-close {
    filter: invert(40%);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coffee-div,
.burgers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto;
}

.turn-back-coffee,
.turn-back-burgers {
    margin-bottom: 20px;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

button.btn-primary {
    background-color: #6f4f28;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #4e3629;
}

button.turn-back-coffee,
button.turn-back-burgers {
    background-color: #6f4f28;
    border: none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button.turn-back-coffee:hover,
button.turn-back-burgers:hover {
    background-color: #4e3629;
}

button.btn-primary img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #6f4f28;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

button.btn-primary:hover img {
    transform: scale(1.05);
}

button.btn-primary:focus img {
    outline: none;
}

.modal-content {
    background-color: #fff3e0;
}

.modal-footer .btn-primary {
    background-color: #6f4f28;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.modal-footer .btn-primary:hover {
    background-color: #4e3629;
}